# created by virtualenv automatically
Lib/*
.idea/*
Scripts/*
pyvenv.cfg
NewsPortal/NewsPortal/__pycache__/*
NewsPortal/Newsportalapp/__pycache__/*
NewsPortal/cache_files
NewsPortal/NewsPortal/__init__.py
.env
NewsPortal/celerybeat-schedule.db
