{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
{{ art.post_name }}
{% endblock title %}

{% block content %}
<table>
    <tr>
        <td>
            <h3>Текущая дата: {% current_time '%d %b %Y' %}</h3>
        </td>
        <td>
           <h3>Статья: {{ art.post_name | censor_str }}</h3>
        </td>
        <td>
            <h3>от: {{ art.post_add|date:'d M Y H:i' }}</h3>
        </td>
    </tr>
</table>
<hr>
{{ art.post_text | censor_str }}
<hr>
{{ art.post_text }}
<hr>
<button><a href="/news/{{ art.id }}/update">Update</a></button>
<button><a href="/news/{{ art.id }}/delete">Delete</a></button>
<hr>
<h3>Комментарии</h3>
{% endblock content %}