{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Articles
{% endblock title %}

{% block content %}
    <h1>Поиск статей</h1>
    <h1>{{ time_now|date:'d:M:Y' }}</h1>

    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>

    {% if arts_search %}
    <hr>
        <table>
            <tr>
                <td>Тип</td>
                <td>Автор</td>
                <td>Дата публикации</td>
                <td>Заоловок</td>
                <td>Содержание</td>
                <td>Рейтинг</td>
                <td>Категория</td>
                <td>Ссылка</td>
            </tr>
            {% for art in arts_search %}
                <tr>
                    <td>{{ art.post_type }}</td>
                    <td>{{ art.post_author.name_author }}</td>
                    <td>{{ art.post_add|date:'d:M:Y' }}</td>
                    <td>{{ art.post_name | truncatechars:10 | censor_str }}</td>
                    <td>{{ art.post_text | truncatechars:40 | censor_str }}</td>
                    <td>{{ art.post_rating | like_valute }}</td>
                    <td>
                        {% for cat in art.categories.all %}
                            {{ cat.name }}
                            <br>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="http://127.0.0.1:8000/articles/{{ post.id }}">Читать далее</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    <hr>

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

    {% else %}
        <h1>Статей нет!</h1>
    {% endif %}

{% endblock content %}